@charset "UTF-8";

html {
    line-height: 175%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}

body {
    counter-reset: figures;
}

.crumb ol {
    font-family: sans-serif;
    padding: 0.5em 0 0.5em;
    list-style: none;
}

.crumb li {
    display: inline;
}

.crumb a {
    text-decoration: none;
}

.crumb a:hover {
    text-decoration: underline;
}

.crumb li + li:before {
    content: ">";
    font-weight: normal;
    padding: 0 0.6em 0 0.45em;
}

.crumb li:last-child {
    font-weight: bold;
}

p.subtitle {
    font-size: large;
    font-family: sans-serif;
    font-style: italic;
}

.toc {
    padding: 0;
}

.toc ul {
    padding-left: 1em
}

.toc li {
    line-height: 150%;
    font-family: sans-serif;
    list-style-type: none;
}

.toc > li {
    font-weight: bold;
    text-indent: 0;
}

.toc a {
    text-decoration: none;
}

.toc a:hover {
    text-decoration: underline;
}

div.redirecting, div.redirecting-external {
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}

div.redirecting {
    border-color: hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 95%);
}

div.redirecting-external {
    border-color: hsl(32, 40%, 70%);
    background-color: hsl(32, 40%, 95%);
}

blockquote, p.note, p.important, p.info {
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-left-style: solid;
}

p.note, p.important, p.info {
    border-width: 0.5em;
}

blockquote {
    border-width: 0.25em;
    border-color: gray;
    color: dimgray;
}

p.note {
    background-color: hsl(0, 0%, 90%);
    border-color: hsl(0, 0%, 60%);
}

p.important {
    background-color: hsl(32, 40%, 90%);
    border-color: hsl(32, 40%, 60%);
}

p.info {
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 70%);
}

p.note::before, p.important::before {
    font-family: sans-serif;
    font-weight: bold;
}

p.note::before {
    content: "Note: ";
}

p.important::before {
    content: "Important: ";
}

article a[href^="http://"]::after,
article a[href^="https://"]::after,
div.redirecting-external a::after {
    display: inline-block;
    content: "";
    width: 1em;
    height: 1em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24'%3E%3Cg stroke-width='2.4' stroke='%23666' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='17 13.5 17 19.5 5 19.5 5 7.5 11 7.5'%3E%3C/polyline%3E%3Cpath d='M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

a.red {
    color: brown;
    cursor: not-allowed;
}

.index a {
    display: inline-block;
    font-family: monospace;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    line-height: normal;
}

pre {
    line-height: 150%;
    margin-left: 1em;
    margin-right: 1em;
    overflow-x: auto;
}

code.dollar::before {
    content: "$ "
}

section {
    margin-top: 2em;
}

h1, h2, h3 {
    margin-top: 2em;
    font-family: sans-serif;
}

table {
    margin-left: 1em;
    margin-right: 1em;
}

th, td {
    border: 1px solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

address {
    margin-top: 5rem;
}

figure {
    margin: 2em auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

figcaption {
    text-align: center;
}

figcaption::before {
    counter-increment: figures;
    content: "Figure " counter(figures) ". ";
    font-weight: bold;
}
