@charset "UTF-8";

html {
    line-height: 162%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

p.subtitle {
    font-size: large;
    font-family: sans-serif;
    font-style: italic;
}

pre {
    line-height: 150%;
    margin-left: 1em;
    margin-right: 1em;
    overflow-x: auto;
}

section {
    margin-top: 2em;
}

h1, h2, h3 {
    margin-top: 2em;
    font-family: sans-serif;
}

table {
    margin-left: 1em;
    margin-right: 1em;
}

th, td {
    border: 1px solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

address {
    margin-top: 5rem;
}
